@tailwind base;
@tailwind components;
@tailwind utilities;
::selection {
  background-color: #384EB0;
  color: #ffff;
}

.modal{
  position: relative;
z-index: 900;
}

.mobile-nav{
  display: none;
}

@media (max-width: 1023px) {
  .desktop-nav{
    display: none;
  }

  .mobile-nav{
    display: flex;
  }
}

.active{
  background-color: pink;
  color: green;
}